  <nav class="navbar">
    <a class="nav-home" href="/">Home</a>
    <a class="nav-games" href="/titles">Titles</a>
    <a class="nav-users" href="/users">Users</a>
    <% if (user_id) {%>
    <a class="nav-username" href="/users/<%= user_id %>"><%= email %></a>
    <form method="POST" action="/login/logout">
      <button class="nav-logout" type="submit" >Logout</button >
    </form>
    <% } else {%>
    <a class="nav-login" href="/login">Login</a>
    <% }%>
  </nav>
