  <nav class="navbar">
    <a class="nav-home" href="/">Home</a>
    <a class="nav-games" href="/games">Games</a>
    <a class="nav-users" href="/users">Users</a>
    <a class="nav-username" href="/users/:user_id">Username</a>
    <a class="nav-logout" href="/logout">Logout</a>
  </nav>
