  <nav class="navbar">
    <button value="Games">Games</button>
    <button value="Players">Players</button>
    <button value="Username">Username</button>
    <button value="Logout">Logout</button>
  </nav>
