<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/games_index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <div>
        <% include ./partials/_navbar %>
    </div>
    <br>
    <header>
      <div class="gamepics">
      <img class="goof-pic" src="https://i.imgur.com/nEHg7Pb.jpg" height="350" width="350">
      <img class="coup-pic" src="https://i.imgur.com/dS9M2su.jpg" height="350" width="350">
    </div>

      <div class="playgamebuttons">
      <a href="/games/goofspiel">
      <button class="playgoof">PLAY GOOFSPIEL</button>
      </a>
      <button class="playcoup">PLAY COUP</button>
    </div>
    </header>

  </body>
</html>
