<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <div>
        <% include ./partials/_navbar %>
    </div>
    <br>
    <header>
      <h1 class="gooftitle">GOOFSPIEL EDITION</h1>
      <div class="homepagebuttons">
          <% if (user_id) {%>
      <a class="loginbutton" href="/users/<%= user_id %>">
        <%= email %>
      </a>
      <% } else {%>
      <a href="/login">
        <button class="loginbutton">LOGIN</button>
        </a>
        <% } %>
      <a href="/users">
      <button class="browseuserbutton">BROWSE USERS</button>
      </a>
      <a href="/titles">
      <button class="browsetitlesbutton">BROWSE TITLES</button>
      </a>
    </div>
    </header>

  </body>
</html>
