<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <div>
        <% include ./partials/_navbar %>
    </div>
    <br>
    <header>
      <div class="loginbuttons">
          <form class="login-form" action="/login/" method="POST">
            <div class="user_id">
              <input class="user_id" type="user_id" name="user_id" placeholder="Name" style="width: 300px; margin: 1em; height: 40px">
            </div>

            <div class="email">
              <input class="email" type="email" name="email" placeholder="Email" style="width: 300px; margin: 1em; height: 40px">
            </div>
            <div class="password">
                <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em; height: 40px">
                <button type="submit" class="submit">Submit</button>
            </div>
          </form>
    </div>
    </header>

  </body>
</html>

