<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/match_play.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <div>
        <% include ./partials/_navbar %>
      </div>
      <br>

    <header>
      <div class="prize">
          <h1 class="bounty">BOUNTY</h1>
          <img src='/images/prize<%=matchState["prize"]["faceUp"]%>.png' height=200 width=150 style="border:double" >
      </div>
      <header>

      <form action="/bid" method="POST"><input type="number"><button>Bid</button>
      <div class="playercards">
    <% if (player === 1|| player === null) {%>
    <% for(let card of matchState["player1"]["hand"]) {%>
      <input type="image" class="singlecard" src='/images/number<%=[card]%>.jpg'>
    <% }}%>
      </div>
    </form>
  </header>
  </body>
</html>

