// See: https://sass-lang.com/

@font-face {
  font-family: 'ChineseRocksRg-Regular';
  src: url('chinese_rocks_rg.woff') format('woff');
  }

header {
  display: flex;
  background-image: url("https://i.imgur.com/wLFHfRS.jpg");
  background-color: black;
  width: 100%;
  height: 900px;
  flex-direction: column;
  justify-content: center;
}

.gooftitle {
  text-align: center;
  font-family: 'ChineseRocksRg-Regular';
  position: absolute;
  margin-left: 616px;
  font-size: 70px;
  color: black;
}

.homepagebuttons {
  height: 60px;
  width: 20%;
  text-align: center;
  margin-left: 667px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  font-family: 'ChineseRocksRg-Regular';
  font-size: 40px;
  position: absolute
}

.loginbutton {
  background: transparent;
  border: none;
  text-decoration: none;

  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color:antiquewhite
  }
}

.browseuserbutton {
  background: transparent;
  border: none;
  &:hover {
    color:antiquewhite
  }
}

.browsetitlesbutton {
  background: transparent;
  border: none;
  &:hover {
    color:antiquewhite
  }
}
