@font-face {
  font-family: 'ChineseRocksRg-Regular';
  src: url('chinese_rocks_rg.woff') format('woff');
  }

.navbar {
  background-color: #290d00;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  height: 43px;
  font-family: 'ChineseRocksRg-Regular';

}

.nav-home {
  margin: 15px;
  color: antiquewhite;
  font-size: 22px;
  text-decoration: none;
  &:hover {
    color: red
  }
}

.nav-games {
  margin: 15px;
  color: antiquewhite;
  text-decoration: none;
  font-size: 22px;
  &:hover {
    color: red
  }
}

.nav-users{
  margin: 15px;
  color: antiquewhite;
  font-size: 22px;
  text-decoration: none;
  &:hover {
    color: red
  }
}

.nav-username {
  margin: 15px;
  color: antiquewhite;
  font-size: 22px;
  text-decoration: none;
  &:hover {
    color: red
  }
}

.nav-login {
  margin: 15px;
  color: antiquewhite;
  font-size: 22px;
  text-decoration: none;
  &:hover {
    color: red
  }
}

.nav-logout {
  background-color: black;
  color: antiquewhite;
  font-size: 22px;
  margin: 15px;
  border: none;

  &:hover {
    color: red
  }
}
